anyio==3.5.0
asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
contextlib2==21.6.0
decorator==4.4.2
execnet==1.9.0
fastapi==0.75.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5
future==0.18.2
git-lfs==1.6
gunicorn==20.1.0
h11==0.13.0
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
iniconfig==1.1.1
joblib==1.1.0
mock==4.0.3
moviepy==1.0.3
networkx==2.7.1
nltk==3.7
numpy==1.22.3
packaging==21.3
pandas==1.4.1
path==16.4.0
path.py==12.5.0
Pillow==9.0.1
pluggy==1.0.0
proglog==0.1.9
py==1.11.0
pydantic==1.9.0
pydub==0.25.1
pyparsing==3.0.7
pytest==7.1.1
pytest-shutil==1.7.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.1
regex==2022.3.15
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SpeechRecognition==3.8.1
starlette==0.17.1
termcolor==1.1.0
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.63.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
